* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: royalblue;
}
main {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
section {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 15px;
}
h1 {
    color: violet;
}
/* player section styles */
.top-players, .blogs, .courses {
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}
.top-players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.blogs {
    grid-template-columns: repeat(2, 1fr);
}
.player, .blog{
    display: flex;
    align-items: center;
}

.player img {
    height: 50px;
    margin-right: 20px;
}

/* blog section styles */
.thumbnail img{
    width: 200px;
    margin-right: 20px;
}
.filled {
    color: goldenrod;
    font-size: .8em;
}

.unfilled{
    color: lightgray;
    font-size: .8em;
}
.course-details, .duration {
    color: teal;
}
span {
    color: teal;
}
.course-info {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.course img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}
/* responsive */

@media (max-width: 992px) {
    .top-players, .courses {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 668px) {
    .top-players, .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog {
        display: block; 
    }
}


